.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.agenda-day {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.agenda-event h4 {
    font-weight: bolder;
}

.agenda-event {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.event {
    width: 70%;
}

.event h3 {
    color: rgb(19, 145, 19)
}