
.introduction {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.introduction h1 {
    font-family: 'Overlock', sans-serif;
    color: var(--orange);
}

.introduction p {
    font-family: 'Overlock', sans-serif;
    color: var(--noir);
}