.question-card {
    background-color: beige;
    padding: 1rem 1rem;
    margin: 0.5rem;
    border-radius: 15px;
    width: 40%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .question-card {
        width: 80%;
        margin: 1rem auto;
    }
}

@media (max-width: 480px) {
    .question-card {
        width: 90%;
        margin: 0.8rem auto;
        padding: 0.8rem;
    }
}
