@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import "variables.css";

@import "landing-container.css";
@import "infos.css";
@import "agenda.css";



body {
    margin: 0;
    padding: 0;
}


.low-margin {
    margin: 0 5%;
}

.center-in-column {
    /* Alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-in-row {
    /* Alignment */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whole-width {
    width: 100vw;
}

hr {
    margin: 0;
    background-color: var(--orange);
    color: var(--orange);
    border-radius: 5px;

    width: 1.5rem;
    height: 1px;
}

full-width {
    width: 100%;
}

half-width {
    width: 50%;
}

.container {
    font-family: 'Overlock', sans-serif;
    margin-bottom: 5rem;
}

.container h1 {
    color: var(--orange);
}

.container ul {
    list-style-type: none;
}
