:root {
    --orange: rgb(255, 128, 0);
    --orange-faded: rgba(255, 128, 0, 0.3);
    --yellow: rgb(251,191,36);
    --white: rgb(255, 255, 255);
    --transparent: rgba(255, 255, 255, 0)
    --quarter-transparent: rgba(255, 255, 255, 0.25)
    --noir: rgba(0, 0, 0);
}